<div>
  <h1>Cart {{_id}} Information</h1>
  <ul>
    {{#each products}}
      <li>
        {{this}}
      </li>
    {{/each}}
  </ul>
  <a href="/views/profile" role="button">Ver mi perfil</a>
  <a href="/views/products" role="button">Ver productos</a>
</div>