<article>
  <form action="/api/sessions/recovery-password" method="post">
    <header>
      <h1>Coloca tu correo para reestablecer tu contraseña</h1>
    </header>
    <input type="email" name="email" placeholder="Correo" required>
    <footer>
      <input type="submit" value="Entrar">
    </footer>
    <a href="/views/login">Iniciar Sesión</a>
  </form>
</article>