<div>
  <h1>Real Time Products</h1>

  <div id="list-products" class="containers"></div>
  <footer>
    <a href="/api/sessions/logout" role="button">Salir</a>
    <a href="/views/products" role="button">Ver productos</a>
    <a href="/views/editProducts" role="button">Añadir/Eliminar productos</a>
    <a href="/views/realTimeProducts" role="button">Ver productos en tiempo real</a>
    <a href="/views/chat" role="button">Chat</a>
  </footer>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>